html{
    	scroll-behavior:smooth;
    }
    
    *{
    	margin:0;
        padding:0;
        box-sizing:border-box;
  		font-family: 'Poppins', sans-serif;
    }
	nav ul{
    	padding:10px;
    	display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .kiri , .kanan{
    	display:flex;
        gap:10px;
        align-items:center;
    }
    
    li{
    	list-style-type:none;
    }
    
    h1,h2{
    	text-align:center;
    }
    
    .ab{
    	display:flex;
        justify-content:space-between;
        margin:65px 100px;
        padding:auto;
    }
    
    .abkiri h2, .abkanan h2{
    	text-align:left;
    }
    
    .abkiri p{
    	font-size:20px;
    }
    
    a{
    	text-decoration:none;
    }
    
    .value{
    	display:grid;
        grid-template-columns:auto auto;
        justify-content:space-between;
        margin:65px 100px;
    }
    
    .subvalue{
    	display:grid;
        grid-template-columns:auto auto;
        margin: auto;
        gap: 10px;
    }
    
    .nomor{
    	grid-row: 1 / 3;
        font-weight:bold;
    }
    
    .testiatas{
    	display:flex;
        align-items:center;
        justify-content:space-between;
        padding:auto;
        margin:20px 100px;
    }
    
    .testibawah{
    	display:flex;
        grid-template-columns:auto auto;
        align-items:center;
        justify-content:space-between;
        margin:25px 100px;
        padding:auto;
    }
    
    footer{
    	display:flex;
        align-items:center;
        justify-content:space-between;
        padding:10px;
    }
