/* me-reset beberapa style untuk semua */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-image: url('/assets/img/bg-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Navigatin bar dan footer */
.fixed-nav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.not {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  align-items: center;
}

nav .nav,
footer .foot {
  width: 20%;
}

.logo h1 a,
.logo h1 a span {
  font-size: 3rem;
}

nav, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav ul,
.foot.left ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.foot.right ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav ul li,
.foot.left ul li {
  padding: 1rem 1rem;
}

.foot.right ul li {
  padding: 0 1rem;
}

.nav ul li a ,
.foot ul li a{
  font-weight: 700;
  color: #ffffff;
}

.logo h1 a{
  font-weight: 700;
  color: #ffffff;
  font-family: 'Chivo Mono', monospace;
}

.logo h1 a span {
  font-weight: 700;
  font-style: italic;
  color: #80ff00;
  font-family: 'Chivo Mono', monospace;
}

.nav ul li a:hover,
.quotes a:hover {
  color: rgb(245, 222, 179);
}

.nav ul li a::after,
.quotes a::after,
footer .foot.left ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(245, 222, 179);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav ul li a:hover::after,
.quotes a:hover::after,
footer .foot.left ul li a:hover::after {
  transform: scaleX(1);
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quotes .quote {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.7rem;
  padding: 2rem 2rem;
  width: 80%;
  text-align: center;
}

.quotes a {
  color: #ffffff;
  padding: 1rem 2rem;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
}

footer .logo h1 a {
  font-size: 2rem;
}

footer .logo h1 a span {
  font-size: 2rem;
}

.foot.right ul li a{
  cursor: auto;
  font-size: 0.8rem;
}

/* Creator */
main.tab-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

main.tab-github,
main.tab-linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 86vh;
}

main .main {
  /* margin-top: 7rem; */
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem auto;
  height: 100%;
}

.data ul,
.bio-data {
  display: flex;
}

.data ul li{
  padding: 0 1rem;
  text-align: center;
}

.data ul li a{
  font-size: 1.5rem;
  font-weight: 700;
}

.data ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.2rem solid rgb(0, 0, 0);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.data ul li a:hover::after {
  transform: scaleX(1);
}

.title {
  font-size: 3rem;
  text-align: center;
  width: 40%;
  border-bottom: 0.3rem solid black;
  /* margin-bottom: 0.8rem; */
  margin-top: 1rem;
}

#banner {
  margin: 1rem auto;
  border: 0.2rem solid black;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.bio {
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  padding: 1rem;
  border: 0.3rem solid black;
  margin-bottom: 2rem;
}

.bio-data,
.bio-data #email a {
  font-weight: 700;
  font-size: 1.3rem;
}

.bio-data {
  padding: 1rem;
}

.bio-data .label {
  width: 30%;
}

/* Social Work */
